
html,body{
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  /*padding: 0 20px 20px 20px;
  border-top: 5px solid #46433A;
  border-bottom: 5px solid #46433A;

  padding: 0 20px 20px 20px;*/
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../images/preloader.gif") center no-repeat #fff;
}

.header{
  min-height:100vh;
  background-image: url("../images/pic6.jpg");
  background-size:cover;
  background-position: center center;
  padding-top: 50px;
  font-family: 'Abril Fatface', cursive;
}
.header h1{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px 2px #5A6E79;
  font-size: 10rem;
  color:#CFD1C6;
  position:relative;
}

.header p{
  font-size: 3rem;
  color:#CFD1C6;
  margin-top: 280px;
  text-align: center;
  position: relative;
}
.nav-bar-links{
  font-family: 'Slabo 27px', serif;
  text-align: center;
  font-size: 2.5rem;
  color:#CFD1C6;
}
.nav-bar-links .navbar-toggle{
  top:0;
  left:0;
  margin-left: 20px;
  position:absolute;
  border:1px solid #CFD1C6;
}

#mobile-nav{
  position: absolute;
  left:0;
  top:0;
  margin-top: 50px;
  background-color: #5A6E79;
}
#mobile-nav .nav-bar-link{
  display: block;
}

.nav-bar-links .navbar-toggle .icon-bar{
  border:1px solid #CFD1C6;
}
.nav-bar-links a,
.nav-bar-links a:visited{
  color:#CFD1C6;
  text-decoration: none;
  margin:10px;
}


.nav-bar-links a:hover,
.nav-bar-links a:active{
  text-decoration: none;
  color:#B56C63;
  text-shadow: 1px 1px 1px #5A6E79;
}



.nav-bar-links a:link{
  text-decoration: none;
}

@media(max-width:768px){
  .nav-bar-links{
    font-size: 2rem;
  }
}
section:not(.comment){
  min-height:100vh;
}
.who{
  background-color: #CFD1C6;
  padding: 30px 150px 30px 150px;
}

.who h2{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color:#5A6E79;
  font-size: 5rem;
  margin-bottom: 100px;
  margin-top: 50px;
}

.who h3{
  text-align: center;
  color:#5A6E79;
  font-size: 3rem;
  font-family: 'Slabo 27px', serif;
  margin-bottom: 80px;
}

.who h4{
  text-align: center;
  color:#5A6E79;
  font-size: 2.5rem;
  font-family: 'Slabo 27px', serif;
}

.family{
  background-color: #B56C63;
  padding:30px 150px 100px 150px;
  height:550px;
}

.family h1,
#friends h1{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 5rem;
  color:#ADB3B1;
  margin-bottom: 100px;
  margin-top: 50px;
}

.family .people-wrapper{
  display: block;
  text-align: center;
  cursor: pointer;
}

.people-wrapper a:hover {
  text-decoration: none;
  }
.family .people-wrapper .profile-pic:hover{
  height:200px;
}
.family .people-wrapper .main-pic:hover{
  height:250px;
}

 .family .people-wrapper .profile-pic{
  border-radius: 50%;
  height:150px;

  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
         transition: all 0.5s ease;
}

.family .people-wrapper .main-pic{
  height:200px;
}
.family .people-wrapper .secondary-pic{
  margin-top: 50px;
}
.modal .modal-dialog {
  width:75%;
}

.modal .modal-dialog .modal-content{
  background-color: #CFD1C6;
}
.modal-body .profile-pic{
 border-radius: 50%;
 height:200px;
}


.modal-body p{
  font-family: 'Slabo 27px', serif;
  font-size: 2.5rem;
  color:#5A6E79;
}
.modal-body .bio-data{
  font-size: 2rem;
  text-align: left;
  margin: 20px;
}
.modal-body .CN{
  display:none;
}

.modal-body .toEN{
  display:none;
}
.modal-body .translate,
.modal-body .translate:active,
.modal-body .translate:visited,
.modal-body .translate:focus{
  background-color: #5A6E79;
  font-family: 'Slabo 27px', serif;
  font-size: 2rem;
  color:#CFD1C6;
}

.modal-body .translate:hover{
  color:#5A6E79;
  background-color: #CFD1C6;
}

.family .people-wrapper p{
  text-align: center;
  font-family: 'Slabo 27px', serif;
  font-size: 2rem;
  color:#ADB3B1;
  text-shadow: 1px 1px 1px #5A6E79;
}
.modal-body{
  text-align: center;
}
#friends{
  background-color: #ADB3B1;
  padding:30px 150px 100px 150px;
  height:550px;
}
#friends h1{
  color:#5A6E79;
}
#friends .people-wrapper p{
  color:#5A6E79;
}

.slides img{
  padding:0;
  height:500px;
  position:relative;
}
.pic-container{
  padding:30px 0px 80px 0px;
  background-color: #5A6E79;
}

.pic-container img{
  max-width:80%;
  max-height:600px;
  display:block;
  margin: auto;
}
.pic-container a{
  color:#CFD1C6;
  text-decoration: none;
}
.pic-container h1{
  font-family: 'Abril Fatface', cursive;
  color:#CFD1C6;
  font-size: 5rem;
  text-align:center;
  margin-bottom: 30px;
}
#slide-show{
  max-width: 100%;
  margin:auto;
}
.btn-left{
  position:absolute;
  top:40%;
  left:5%;
}
.btn-right{
  position:absolute;
  top:40%;
  right:5%;
}

.slide-btn{
  color:#46433A;
  font-size: 3rem;
  cursor:pointer;
  text-decoration: none;
}
.slide-btn:hover{
  text-decoration: none;
}
.dots{
  margin-top: 20px;
  text-align: center;
}
.pic-container .dots .dot{
  height:20px;
  width:20px;
  cursor: pointer;
  border: 1px solid #CFD1C6;
  border-radius: 50%;
  margin: 5px;
  padding: 0;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
         transition: all 0.5s ease;
}
.selected, .dot:hover {
  color: #000!important;
  background-color: #CFD1C6;
}
.comment{
  background-color: #CFD1C6;
  color: #5A6E79;
  padding:50px;
  font-family: 'Slabo 27px', serif;
}
.comment h1{
  font-family: 'Abril Fatface', cursive;
}
footer{
  background-color: #B56C63

}
footer p{
  text-align: center;
  color:#CFD1C6;
  margin:0;
}



@media(max-width:768px) {

  .header{
    background-position: 60% center;
  }
  .header h1{
    font-size: 6rem;
  }
  .header p{
    margin-top: 260px;
    font-size: 2.5rem;
  }

  .who{
    padding: 10px 20px 30px 20px;
  }

  .who h2{
    margin-bottom: 50px;
  }
  .who h3{
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  .who h4{
    font-size: 2rem;
  }

  .family{
    padding: 10px 20px 30px 20px;
    height:1000px;
  }

  #friends{
    padding: 10px 20px 30px 20px;
    height:500px;
  }

  .family .people-wrapper{
    margin-bottom: 50px;
  }

  .family .people-wrapper .secondary-pic{
    margin-top: 0;
  }

  .modal .modal-dialog {
    width:95%;
  }
  .modal-body .bio-data{
    font-size: 1.5rem;
    margin:10px;
  }

  .modal-body .translate:hover{
    color:#CFD1C6;
    background-color: #5A6E79;
  }

  .pic-container{
    padding: 20px 0px 50px 0px;
  }


  .slides img{
    padding:0;
    max-height:240px;
    position:relative;
  }

  .pic-container img{
    max-width:100%;
    max-height:240px;
  }
  .pic-container .dots .dot{
    height:13px;
    width: 13px;
  }

  .comment{
    padding:30px 20px 30px 20px;
  }
}
