html {
  background-color: #DED4B9;
}

body{
  background-color: #DED4B9;
  width: 80%;
  margin: auto;
  padding: 0 20px 20px 20px;
  border-top: 5px solid #46433A;
  border-bottom: 5px solid #46433A;

  padding: 0 20px 20px 20px;
}


img{
  width:700px;
  display:block;
  margin: auto;
}
.slides{
  height:500px;
}
.pic-container{
  padding:0 140px 0 140px;
  margin-bottom: 50px;
}
.btn-left{
  float:left!important;
}
.btn-right{
  float:right!important;
}

.slide-btn{
  color:#46433A;
  font-size: 3rem;
  cursor:pointer;
  text-decoration: none;
}

h1{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 1px 1px 1px #929487;
  font-size: 6rem;
  color:#46433A;
}

h2{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color:#64B6B1;
  font-size: 4rem;
  text-shadow: 1px 1px 1px #46433A;
}

h3{
  text-align: center;
  color:#46433A;
  font-size: 2.5rem;
  font-family: 'Slabo 27px', serif;
}

h4{
  text-align: center;
  color:#46433A;
  font-size: 2rem;
  font-family: 'Slabo 27px', serif;
}


@media(max-width:768px) {

  h1{
    font-size: 5rem;
  }
  .pic-container{
    padding:0 10px 0 10px;
    margin-bottom: 50px;
  }
img{
  width:120%;
  margin-left: -10%;
}

.slide-btn{
  font-size:2rem;
}

.slides{
  height:180px;
}

.dots{
  text-align: center!important;
}
.dot{
  border-radius: 50%;
  padding:50px;
  border: 1px solid black;
}

h2{
  font-size: 3rem;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.7rem;
}
}
